<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Term</key>
			<string>Spring 2013</string>
		</dict>
		<key>a</key>
		<dict>
			<key>Date</key>
			<string>January 22, Tuesday</string>
			<key>Event</key>
			<string>Spring term begins, 8:10 a.m. Registration for all students</string>
			<key>Type</key>
			<string>0</string>
		</dict>
		<key>b</key>
		<dict>
			<key>Date</key>
			<string>January 23, Wednesday</string>
			<key>Event</key>
			<string>Add/Drop period begins, 8:30 a.m.</string>
			<key>Type</key>
			<string>9</string>
		</dict>
		<key>c</key>
		<dict>
			<key>Date</key>
			<string>January 30, Wednesday</string>
			<key>Event</key>
			<string>Add/Drop period closes, 4:30 p.m.</string>
			<key>Type</key>
			<string>7</string>
		</dict>
		<key>d</key>
		<dict>
			<key>Date</key>
			<string>March 15, Friday</string>
			<key>Event</key>
			<string>Spring recess begins, 6 p.m.</string>
			<key>Type</key>
			<string>1</string>
		</dict>
		<key>e</key>
		<dict>
			<key>Date</key>
			<string>March 25, Monday</string>
			<key>Event</key>
			<string>Spring recess ends. Classes resume, 8:10 a.m.</string>
			<key>Type</key>
			<string>2</string>
		</dict>
		<key>f</key>
		<dict>
			<key>Date</key>
			<string>April 29, Monday</string>
			<key>Event</key>
			<string>Classes end</string>
			<key>Type</key>
			<string>3</string>
		</dict>
		<key>g</key>
		<dict>
			<key>Date</key>
			<string>May 6, Monday</string>
			<key>Event</key>
			<string>Examination period begins, 9 a.m.</string>
			<key>Type</key>
			<string>4</string>
		</dict>
		<key>h</key>
		<dict>
			<key>Date</key>
			<string>May 13, Monday</string>
			<key>Event</key>
			<string>Scheduled examinations end, 5 p.m.</string>
			<key>Type</key>
			<string>5</string>
		</dict>
		<key>i</key>
		<dict>
			<key>Date</key>
			<string>May 16, Thursday</string>
			<key>Event</key>
			<string>Self-scheduled examinations end, 5 p.m.</string>
			<key>Type</key>
			<string>5</string>
		</dict>
		<key>j</key>
		<dict>
			<key>Date</key>
			<string>May 17, Friday</string>
			<key>Event</key>
			<string>Rescheduled examinations end. Spring term ends, 5 p.m.</string>
			<key>Type</key>
			<string>5</string>
		</dict>
		<key>k</key>
		<dict>
			<key>Date</key>
			<string>May 20, Monday</string>
			<key>Event</key>
			<string>University Commencement</string>
			<key>Type</key>
			<string>8</string>
		</dict>
		<key>l</key>
		<dict>
			<key>Date</key>
			<string>May 29, Wednesday</string>
			<key>Event</key>
			<string>Degrees voted by faculty</string>
			<key>Type</key>
			<string>0</string>
		</dict>
	</dict>
</dict>
</plist>
